In [2]:
import pandas as pd
import numpy as np
import urllib.request
import os
import re

In [3]:
PATH = "../data/aihub/"

list_dir = os.listdir(f"{PATH}")
list_dir

['TS_01. KAKAO(1)',
 'TS_01. KAKAO(2)',
 '.DS_Store',
 'TS_02. FACEBOOK',
 'VS_05. NATEON',
 'TS_04. BAND',
 'VS_01. KAKAO',
 'TS_01. KAKAO(4)',
 'TS_03. INSTAGRAM',
 'TS_05. NATEON',
 'VS_04. BAND',
 'VS_03. INSTAGRAM',
 'TS_01. KAKAO(3)',
 'VS_02. FACEBOOK']

In [4]:
final = []
for dir in list_dir:
    if dir == ".DS_Store":
        continue
    data_list = os.listdir(f"{PATH}/{dir}")
    for data in data_list:
        with open(f'{PATH}/{dir}/{data}', "r") as f:
            s = f.read()
            s = s.split("\n")
            s.append(None)
            final.extend(s)

In [5]:
final_df = pd.DataFrame(final)
final_df

                                                   0
0                     1 : 요즘 동물들을 유기 하는 애들도 참 문제야 ㅠㅠ
1                         2 : 동물들을 유기 하는 사람이 아직도 있어?
2        3 : 그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고
3           1 : 우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ
4         2 : 고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워
...                                              ...
1756057            1 : 키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!
1756058                           2 : 거기서 준 번호로 샀으면?
1756059                  1 : 키키 아니 나 원래 계속 쓰던 번호 있음!
1756060                    2 : 아 키키 그거 계속 밀고 나가는 거야?
1756061                                         None

[1756062 rows x 1 columns]

In [6]:
final_df[0] = final_df[0].map(lambda x: x[4:] if x != None else None)
final_df

                                               0
0                     요즘 동물들을 유기 하는 애들도 참 문제야 ㅠㅠ
1                         동물들을 유기 하는 사람이 아직도 있어?
2        그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고
3           우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ
4         고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워
...                                          ...
1756057            키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!
1756058                           거기서 준 번호로 샀으면?
1756059                  키키 아니 나 원래 계속 쓰던 번호 있음!
1756060                    아 키키 그거 계속 밀고 나가는 거야?
1756061                                     None

[1756062 rows x 1 columns]

In [7]:
answer = final_df[0].tolist()
answer.append(None)
answer.pop(0)

'요즘 동물들을 유기 하는 애들도 참 문제야 ㅠㅠ'

In [8]:
answer = pd.Series(answer)
answer

0                           동물들을 유기 하는 사람이 아직도 있어?
1          그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고
2             우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ
3           고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워
4               **이 알레르기 있어서 만지지도 못하고 안타깝다 정말 귀여운데
                            ...
1756057                             거기서 준 번호로 샀으면?
1756058                    키키 아니 나 원래 계속 쓰던 번호 있음!
1756059                      아 키키 그거 계속 밀고 나가는 거야?
1756060                                       None
1756061                                       None
Length: 1756062, dtype: object

In [9]:
final_df["A"] = answer
final_df

,0,A
0,요즘 동물들을 유기 하는 애들도 참 문제야 ㅠㅠ,동물들을 유기 하는 사람이 아직도 있어?
1,동물들을 유기 하는 사람이 아직도 있어?,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고
2,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ
3,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워
4,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워,**이 알레르기 있어서 만지지도 못하고 안타깝다 정말 귀여운데
...,...,...
1756057,키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!,거기서 준 번호로 샀으면?
1756058,거기서 준 번호로 샀으면?,키키 아니 나 원래 계속 쓰던 번호 있음!
1756059,키키 아니 나 원래 계속 쓰던 번호 있음!,아 키키 그거 계속 밀고 나가는 거야?
1756060,아 키키 그거 계속 밀고 나가는 거야?,None
1756061,None,None

In [10]:
final_df = final_df.rename(columns={0:"Q"})
final_df

,Q,A
0,요즘 동물들을 유기 하는 애들도 참 문제야 ㅠㅠ,동물들을 유기 하는 사람이 아직도 있어?
1,동물들을 유기 하는 사람이 아직도 있어?,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고
2,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ
3,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워
4,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워,**이 알레르기 있어서 만지지도 못하고 안타깝다 정말 귀여운데
...,...,...
1756057,키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!,거기서 준 번호로 샀으면?
1756058,거기서 준 번호로 샀으면?,키키 아니 나 원래 계속 쓰던 번호 있음!
1756059,키키 아니 나 원래 계속 쓰던 번호 있음!,아 키키 그거 계속 밀고 나가는 거야?
1756060,아 키키 그거 계속 밀고 나가는 거야?,None
1756061,None,None

In [11]:
final_df = final_df.dropna()
final_df

,Q,A
0,요즘 동물들을 유기 하는 애들도 참 문제야 ㅠㅠ,동물들을 유기 하는 사람이 아직도 있어?
1,동물들을 유기 하는 사람이 아직도 있어?,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고
2,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ
3,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워
4,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워,**이 알레르기 있어서 만지지도 못하고 안타깝다 정말 귀여운데
...,...,...
1756055,키키 맞아 나도 가끔씩 그거 살까 고민 해,될 확률이 있으니깐 하겄지~
1756056,될 확률이 있으니깐 하겄지~,키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!
1756057,키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!,거기서 준 번호로 샀으면?
1756058,거기서 준 번호로 샀으면?,키키 아니 나 원래 계속 쓰던 번호 있음!
1756059,키키 아니 나 원래 계속 쓰던 번호 있음!,아 키키 그거 계속 밀고 나가는 거야?

In [12]:
test = "**이 알레르기"

In [13]:
test1 = "caat"

In [14]:
re.match("a+", test1)

In [15]:
re.sub("a+", "", test1)

'ct'

In [16]:
re.sub("\*+", "", test)

'이 알레르기'

In [17]:
final_df["A"] = final_df["A"].map(lambda x: re.sub("\*+", "", x))
final_df

/var/folders/ql/gbsdt1191mbf_hk8mhnwwpd80000gn/T/ipykernel_25776/2079366014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["A"] = final_df["A"].map(lambda x: re.sub("\*+", "", x))

,Q,A
0,요즘 동물들을 유기 하는 애들도 참 문제야 ㅠㅠ,동물들을 유기 하는 사람이 아직도 있어?
1,동물들을 유기 하는 사람이 아직도 있어?,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고
2,그치 동물들도 요즘 사회적 이슈고 요즘 또 이슈화 있는 사건이 많더라고,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ
3,우리 원룸 주변에 보면 아직도 길고양이들 돌아다니고 하더라고 ㅠㅠ,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워
4,고양이도 소중한 생명인데 길거리에 버려진 고양이들 보면 너무 안타까워,이 알레르기 있어서 만지지도 못하고 안타깝다 정말 귀여운데
...,...,...
1756055,키키 맞아 나도 가끔씩 그거 살까 고민 해,될 확률이 있으니깐 하겄지~
1756056,될 확률이 있으니깐 하겄지~,키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!
1756057,키키 나 근데 이번에 샀으면 5만 원 당첨됐었을 뻔!,거기서 준 번호로 샀으면?
1756058,거기서 준 번호로 샀으면?,키키 아니 나 원래 계속 쓰던 번호 있음!
1756059,키키 아니 나 원래 계속 쓰던 번호 있음!,아 키키 그거 계속 밀고 나가는 거야?

In [18]:
final_df.to_csv("aihub_conversation_data.csv", index=False)